@using Domain
@model Registration
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="padding">

    <div class="row">
        <div class="col-sm-12 col-md-4">
        </div>
        <div class="col-sm-12 col-md-4">

            <div class="login">
                <div class="col-sm-12 col-md-12">

                    <div class="form-group">
                        <div class="col-sm-12 col-md-12">
                            <br />


                            <div class="loginbox radius">
                                <h2 style="text-align: center; font-size: 36px; font-weight: bold; color: #333;margin-bottom:10px">Reset Password</h2>
                                <div class="loginboxinner radius" align="center">

                                    <div class="loginform" align="center">

                                        <div class="form-group">
                                            <input class="form-control" id="UserPass" placeholder="Enter Old Password" maxlength="16" type="password" />
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" id="NewPassword" placeholder="Enter New Password" maxlength="16" type="password" />

                                            <span onmouseover="mouseoverPass('NewPassword');" onmouseout="mouseoutPass('NewPassword');" class="fa fa-fw fa-eye field-icon fa-eye fa-eye-slash showPassword"></span>
                                        </div>

                                        <div class="form-group">
                                            <button type="submit" onclick="ResetPassword()" class="btn btn-success">Reset Password</button>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-sm-12 col-md-4">
        </div>
    </div>
</div>
<style>
    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }

    .container {
        padding-top: 50px;
        margin: auto;
    }
</style>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script>

    function mouseoverPass(id) {
        var obj = document.getElementById(id);
        $('.showPassword').removeClass("fa fa-fw fa-eye field-icon");
        $('.showPassword').removeClass("fa-eye fa-eye-slash");
        $('.showPassword').addClass("fa fa-fw fa-eye field-icon");
        obj.type = "text";
    }

    function mouseoutPass(id) {
        var obj = document.getElementById(id);
        $('.showPassword').removeClass("fa fa-fw fa-eye field-icon");
        $('.showPassword').removeClass("fa-eye fa-eye-slash");
        $('.showPassword').addClass("fa fa-fw fa-eye field-icon fa-eye fa-eye-slash");
        obj.type = "password";
    }
</script>
<script>
    function fValidation(varfield, varAlert) {

        alert(varAlert);
        var varX = document.getElementById(varfield).offsetTop;
        var varY = document.getElementById(varfield).offsetLeft;
        window.scrollTo(varX, varY);
        document.getElementById(varfield).focus();
    }


    function ResetPassword() {
        if (stripBlanks(document.getElementById('UserPass').value) == "") {
            fValidation('UserPass', 'Please  Enter Old Password');
            document.getElementById('UserPass').focus();
            return false;
        }
        if (stripBlanks(document.getElementById('NewPassword').value) == "") {
            fValidation('NewPassword', 'Please Enter Password');
            document.getElementById('NewPassword').focus();
            return false;
        }

        if (stripBlanks(document.getElementById('UserPass').value) == stripBlanks(document.getElementById('NewPassword').value)) {
            fValidation('NewPassword', 'Please  Enter Different Password for Reset Password');
            document.getElementById('NewPassword').focus();
            return false;
        }

        $.ajax({

            type: 'POST',
            url: '@Url.Action("ResetPassword", "Registration")',
            data: {
                OldPassword: $('#UserPass').val(), NewPassword: $('#NewPassword').val()
            },
            success: function (response) {
                debugger;
                alert(response.split('^')[1]);
                if (response.split('^')[0] == "Success") {
                    $('#UserPass').val('');
                    $('#NewPassword').val('');
                }
                else if (response.split('^')[1] == "Please login again") {
                    window.location.href = "/Login";
                }

            },
            error: function (response) {

            }
        });
    }



    function IsNumeric(key) {
        var keycode = (key.which) ? key.which : key.keyCode;
        if (keycode > 31 && (keycode < 48 || keycode > 57)) {
            //alert(" You can enter only Digit 0 to 9 ");
            return false;
        }
        else return true;
    }

</script>

